label > input { /* HIDE RADIO */
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
}

label img {
	padding: 5px;
}

label > input + img, label > input + img + img { /* IMAGE STYLES */
	cursor: pointer;
	box-shadow: 0px 0px 8px #DDDDDD;
}

label > input:checked + img, label > input:checked + img + img { /* (RADIO CHECKED) IMAGE STYLES */
	box-shadow: 0px 0px 8px #1B9AE8;
}

form legend {
	font-size: 1.5em;
}

.page-title {
	margin-top: 0;
}

div.center, section.center {
	text-align: center;
}

div.right, section.right {
	text-align: right;
}

svg.preview {
	border: 2px dashed #DDDDDD;
	max-width: 100%;
	max-height: 100%;
}

.wdn-hero {
    position: relative;
    overflow: hidden;
    height: 25.24em;
    height: 42vh;
    background-color: #000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    video {
    	width: 100%;
    }
}

.wdn-hero-text {
    position: relative;
    bottom: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.wdn-hero-heading {
    z-index: 1;
    margin: 0;
    font-size: 3.923rem;
    text-transform: uppercase;
    color: #fff;
    .hero-line {
	    display: inline-block;
	    line-height: 1;
	    border-top: 1px solid rgba(255, 255, 255, 0.2);
	    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
}

.is-video.wdn-hero .wdn-hero-video {
    position: absolute;
    top: 0;
    left: 0;
}

.tooltip {
	> div {
	    position: absolute;
	    display: none;
	    background-color: #fff;
	    color: #000;
	    box-shadow: 0px 1px 4px RGBA(0,0,0,0.2);
	    padding: .75em;
	    bottom: 160%;
	    left: -91px;
	    width: 200px;
	    text-align: left;
	    z-index: 250;
	}

	> div:before {
	    background-color: white;
	    content: "";
	    display: block;
	    width: 15px; 
	    height: 15px; 
	    position: absolute;
	    bottom: -8px;
	    left: 50%;
	    margin-left: -7px;
	    transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    box-shadow: 0px 0px 4px RGBA(0,0,0,0.25);
	}

	> div:after {
	    content:"";
	    height: 12px;
	    width: 40px;
	    background-color: #fff;
	    display: block;
	    position: absolute;
	    bottom: 0px;
	    left: 50%;
	    margin-left: -24px;
	}

	&.hang-right > div {
	    left: -27px;
	}

	&.hang-left > div {
	    left: -157px;
	}

	&.hang-right > div:before {
	    left: 34px;
	    margin-left: -7px;
	}

	&.hang-right > div:after {
	    left: 34px;
	    margin-left: -24px;
	}

	&.hang-left > div:before {
	    left: 166px;
	    margin-left: -7px;
	}

	&.hang-left > div:after {
	    left: 166px;
	    margin-left: -24px;
	}

	background-color: #1B9AE8;
    border-radius: 2em;
    height: 1.5em;
    width: 1.5em;
    padding: 0 0.2em;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.6em;
    position: relative;
    font-size: .8125rem;
    ul li {
	    margin-bottom: .75em;
	}

	span.heading{
	    font-family: "Tungsten A","Tungsten B",HelveticaNeueCondensed,HelveticaNeue-Condensed,"Helvetica Neue Condensed",HelveticaNeueRomanCondensed,HelveticaNeue-Roman-Condensed,"Helvetica Neue Roman Condensed","Arial Narrow",HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif;
	    font-size: 1.777em;
	}

	&:hover > div {
	    display: block;
	}

	p {
	    margin: 0;
	}

	&.italic *{
	    font-style: italic;
	}
}

.toolbox, .visual-island {
    background: #f9f8f5;
    margin-bottom: 1em;
    word-wrap: break-word;
	padding: 0 !important;
	.tools, .details {
		padding: 1em;
		border-left: 1px solid #d5d5d2;
		border-right: 1px solid #d5d5d2;
		border-bottom: 1px solid #d5d5d2;
		&.top-border {
			border-top: 1px solid #d5d5d2;
		}
	}

    h1, h2, h3, h4, h5, h6, .vi-header{
		display: block;
		font-size: .802em !important;
		margin: 0;
		border-bottom: 1px solid #474746;
		font-family: "Gotham SSm A","Gotham SSm B",Verdana,"Verdana Ref",Geneva,Tahoma,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",sans-serif;
		width: 100%;
		background-color: #474746;
		padding: 1em;
		text-transform: uppercase;
		color:#fff;
		font-weight: 400;
		font-style: normal;
		text-align: center;
	}

	p {
		padding: 0 1em 1em 1em;
	}

	ul {
		padding: 0;
		padding-left: 1em;
		margin: 0;
	    a {
	    	border-bottom: none;
	    	font-family: "Gotham SSm A","Gotham SSm B",Verdana,"Verdana Ref",Geneva,Tahoma,"Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans",sans-serif;
	    }
	}
}

@media (min-width: 0px) {
	.wdn-hero {
	    height: 5em;
	    height: 10vh;
	    max-height: 8em;
	}
}

@media (min-height: 480px) and (min-width: 480px) {
	.wdn-hero {
	    height: 15em;
	    height: 30vh;
	    max-height: 22em;
	}
}

@media (min-height: 718px) and (min-width: 960px) {
	.wdn-hero {
	    height: 25.24em;
	    height: 56vh;
	    max-height: 31.474em;
	}
}

@media (min-height: 895px) and (min-width: 1044px) {
	.wdn-hero {
	    height: 31.474em;
	    height: 75vh;
	    max-height: 33.645em;
	}
}


@media (min-width: 480px) {
	.wdn-hero-heading {
	    font-size: 4.1538rem;
	}
}
@media (min-width: 768px) {
	.wdn-hero-heading {
	    font-size: 5.61rem;
	}
}
@media (min-width: 1044px) {
	.wdn-hero-heading {
	    font-size: 5.997rem;
	}
}

