{% extends 'wdnbase.html.twig' %}

{% block doctitle %}<title>UNL Lockups</title>{% endblock %}

{% block content %}
<div class="dcf-mt-6 dcf-mb-6">
    {% block body %}
    {% if page_template is defined %}
    {% include page_template %}
    {% endif %}
    {% endblock %}
</div>
{% endblock %}