{# templates/wdnbase.html.twig #}
{% extends '@WDNFramework/5.3/php.app_local.dwt.twig' %}

{% block head %}
<link rel="stylesheet" href="/css/custom.css">
{% endblock %}

{% block highlighted %}
{{ include('@DCFFramework/partials/flash-notices.html.twig') }}
{% endblock %}

{% block jsbody %}
<script>
    WDN.setPluginParam("idm", "logout", "/logout/");
    WDN.initializePlugin("notice");
</script>
{% endblock %}

{# Default Block Values #}
{% block doctitle %}<title>UNL Lockup Factory</title>{% endblock %}
{% block titlegraphic %}<a class="dcf-txt-h5" href="/">UNL Lockup Factory</a>{% endblock %}
{% block affiliation %}<a href="http://ucomm.unl.edu">University Communication</a>{% endblock %}
{# {% block breadcrumbs %}
    <ol>
        <li><a href="https://www.unl.edu/">Nebraska</a></li>
        <li><a href="/">Chat Administration</a></li>
    </ol>
{% endblock %} #}
{# {% block navlinks %}
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/lockups/manage">Manage Lockups</a></li>
        <li><a href="/lockups/library">Library</a></li>
    </ul>
{% endblock %} #}
{% block appcontrols %}
<ul>
    <li><a href="/">New Lockup</a></li>
    <li><a href="/lockups/manage">Manage Lockups</a></li>
    <li><a href="/lockups/library">Lockups Library</a></li>
</ul>
{% endblock %}
{% block contactinfo %}
<div id="dcf-footer-group-1">
    <h3 class="dcf-txt-md dcf-bold dcf-uppercase dcf-lh-3 unl-ls-2 unl-cream" id="dcf-footer-group-1-heading">About UNL LOCKUP FACTORY</h3>
    <p>This application is a product of the <a href="https://dxg.unl.edu/">Digital Experience Group at Nebraska</a>. DXG is a partnership of <a href="https://ucomm.unl.edu/">University Communication</a> and <a href="https://its.unl.edu/">Information Technology Services</a>.</p>
    </div>
<div id="dcf-footer-group-2">
    <h3 class="dcf-txt-md dcf-bold dcf-uppercase dcf-lh-3 unl-ls-2 unl-cream" id="dcf-footer-group-2-heading">Related Links</h3>
    <ul class="dcf-list-bare dcf-mb-0"> 
        <li><a href="https://ucomm.unl.edu/">University Communication</a></li>
        <li><a href="https://dxg.unl.edu/">Digital Experience Group</a></li>
        <li><a href="https://wdn.unl.edu/">Web Developer Network</a></li>
        <li><a href="https://its.unl.edu/">Information Technology Services</a></li>
  </ul>
</div>
{% endblock %}
